* {
  box-sizing: border-box;


}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  overflow: auto;
}


.jumbotron{
background-color: #20315A; 
color: white;
}

#footer{

    color: cornflowerblue;
}

.del-btn{
  height: 20px;
}